.imagelogo{
    height: 50px;
    gap: 25px;
    padding: 10px;
    
}

/* .imagelogo{
    padding: 25px 25px;
    gap: 25px;
    width: 5%s;
} */

.headerleft{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-left: 2px; */
}

.headerbtn{
    /* display: flex; */
    /* margin-right: 40px; */
    /* margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%; */
}
.para{
    margin: 0px !important;
}
       
.anchor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.headerbtn button{
    gap: 50px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    /* padding: 24px; */
    padding-left: 25px;
    padding-right: 25px;
    
}
.headardiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-left: 25px;
   padding-right: 25px;
} 

.bannersection{
    margin: auto;
   
}

.bannersection img{
    width: 100%;
}

.border{
    background-color: white;
    width: 100%;
    margin: center;
    border-radius: 10px;
    box-shadow: 2px;
    margin-bottom: 10px;
}

.heading{
    font-size: 14px;
    display: block;
    color: gray;
    margin-bottom: 10px;
}

.heading h1{
    font-size: 25px;
    color: black;
}

.heading p{
    line-height: 20px;
}

.heading h2{
    font-size: 20px;
    color: grey;
}

.heading p{
    font-size: 18px;
}

.heading h2{
    display: flex;
}

.heading p2 {
    list-style-type: disc;
    margin-left: 15px;
}

.heading h3{
    font-size: 25px;
    color: black;
}

.heading h4{
    font-size: 25px;
    color: black;
    line-height: 5px;
}

.borderbox{
   background-color:  white;
   border-radius: 20px;
   box-shadow: 0px 0px 15x 10px #200d0d
   padding: 25px 20px;
    width: 100%;
    padding: 20px 0px;
}

.borderbox{
    display: flex;
    color: black;
    gap: 30px;
}

.borderbox p{
    gap: 50px;
}

.bookNowBtn{
    display: flex;
    gap: 20px;
    background-color: rgb(253, 13, 13); 
    margin-left: 50px;

}

.heading h5{
    font-size: 30px;
    color: black;
}

.footer-mid-row1{
    
   display: flex;
    font-size: 15px;
}

.footer-mid-row1{
    border-bottom: 1px solid #ccc;
}

.footer-mid-row2{
    width: 100%;
    padding-top: 10px ;
    padding-bottom: 5px;
}

.slinks{
    display: flex;
    margin-right: 40px;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.slinks i{
    font-size: 25px;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  black;
}

.orderbanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.bannerimg {
    flex-basis: 28%;
    gap: 10%;
}

.orderbanner img{
    width: 100%;
    border-radius: 15px;
}

.bookingmrk img{
    display: flex;
}

.busestrack{
    box
}

.borderbox1{
   background-color: beige;
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 50px 50px;
   width: 20%;
   padding: 20px 20px;
}

.borderbox1 p{
    width: 100%;
  margin: 10px;
}

.busesroot{
    display: flex;
    width: 100%;
    gap: 10px; 
}

.borderbox2{
   background-color: beige;
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.busmembers{
     display: flex;
    width: 100%;
    gap: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.appusing h3{
    font-size: 25px;
}

.box{
     background-color: beige;
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.box{
    width: 80%;
    display: flex;
}

.box2{
      background-color: beige;
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.box2{
    width: 80%;
    display: flex;
    align-items: center;
}

.borderbox3{
    display: flex;
}

.bannerimg{
    width: 100%;
    margin: 10px;
}

.bannersection{
    display: flex;
    max-width: 1280;
    margin: auto;
}

.bannerimg{
flex-basis: 28%;
}

.banner{
    background-color: beige;
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
   background-image: url("https://st.redbus.in/Images/INDOFFER/Sampleimages/sampleimage1.png");
}

.banner4{
     background-color: lightgreen;
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.banner4{
    width: 90%;
}

.section{
    display: flex;
}

.box5{
     background-color: rgb(238, 243, 245);
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.box5{
    width: 90%;
    margin: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box5{
    display: flex;
    gap: 15px;
    align-items: center;
}

.search{
    background-color: rgb(238, 243, 245);
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.search{
    width: 90%;
    margin: center;
}

.searches{
     background-color: rgb(248, 243, 243);
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px rgb(17, 17, 17);
   border-inline-color: black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}

.searches{
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;

}

.searches{
    display: flex;
    gap: 40px;
}

.booktn{
    background-color: rgb(248, 243, 243);
   border-radius: 20px;
   box-shadow: 10px 10px 15x 10px rgb(17, 17, 17);
   border-inline-color: black;
   padding: 30px 30px;
   width: 15%;
   padding: 20px 20px;
}



}